.headerPages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  background-color: #F8F7FF;
  padding-right: 20px;
  position: absolute;
  width: 100%;
}
