header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F7FF;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
}

.logo {
    height: 100px;
    margin-top: 20px;
}