header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f7ff;
  /* padding-left: 20px;
  padding-right: 20px; 
  padding: 0px 5% 0px 5%; */
  position: absolute;
  width: 100%;
}

.logo {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.headerElements {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.favIcon {
  margin: 30px 50px 40px 50px;
}

/* .navBar {
  display: inline;
  float: left;
  padding: 14px 16px;
  text-align: center;
} */


